<ion-view view-title="Pokemón">
  <ion-content class="padding">
      <meta charset="utf-8">
<link rel="stylesheet" href="../css/inicio.css">
<!-- Pokeball Icon -->
   <link rel="icon" href="https://vignette.wikia.nocookie.net/the-pokemon-sun-and-moon/images/4/4c/Pokeball.png/revision/latest?cb=20161123053945">
</head>
<body>
   <script src ="script.js"></script>
<div class="login-page">
  <div class="form">
    <img src="../img/Pokeball.png" class="Pokeball">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="contraseña" placeholder="contraseña"/>
      <input type="text" placeholder="email address"/>
      <button><a href="----Directionar--------">create</a></button>
      
    </form>
    <form class="login-form">
      <input type="text" placeholder="usuario"/>
      <input type="contraseña" placeholder="contraseña"/>
      <button>login </button>
      <p class="message">No eres Entrenador? <a href="----Directionar--------">Entrenar</a></p>
    </form>
  </div>
</div>
</body>
  </ion-content>
</ion-view>

