<ion-view view-title="Pokemón">
  

  	

  	<link rel="stylesheet" href="../css/memoria.css">
     <ion-content class="memoria">   
	<div class="row">
  <div class="col m5"> 
    <h3>Hoooola, ya la Viste? </h3>
    <img src="https://vignette.wikia.nocookie.net/the-pokemon-sun-and-moon/images/4/4c/Pokeball.png/revision/latest?cb=20161123053945" />
    <p>Si... 
      Así es, este es el Pre JUEGO, Puedes intentarlo y para así entrenar</p>
    <p>Y agarrar la Práctica suficiente para lograr ser un Entrenado Pokemon, Cada día Coleccionar más y más Pokemones. Aprende más, buscando a nuestro Entrenador Eber(Chino).</p> 
    <h5> @Eber.Perez</h5>
    <img src="https://thumbs.gfycat.com/IdealPeacefulAmericanbittern-max-1mb.gif" />
    
    <div id="found">
    </div>    
    
    
  </div>
  <div class="container">
  <div class="celphone">
    <div class="set">
      <div class="ground"></div>
      <div class="pokebola"></div>
      <div class="pokemon">
        <div class="body">
          <div class="eye-left"></div>
          <div class="eye-right"></div>
          <div class="mouth"></div>
        </div>
        <div class="hair"></div>
        <div class="foot-left"></div>
        <div class="foot-right"></div>
        <div class="arm-left"></div>
        <div class="arm-right"></div>
      </div>
    </div>
    <div class="microphone"></div>
    <div class="button"></div>
  </div>
</div>




    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>

