/*code of table cascading style*/
.memoria{
  background-image: url("../img/memo.png");
    background-repeat:repeat;
    background-size:cover;
    background-attachment: fixed;
}

body {
  padding: 10px;
  background-color: #FEFEFE;
}

h3 {
    color: #05A8AA;
    text-align: center;
}

img {
  width: 30%;
  float: left;
  margin: 0 25px 25px 0;
}

body {
  background-color: #343436;
}

.celphone {
  display: flex;
  width: 260px;
  height: 500px;
  background-color: #0A0A0A;
  border-radius: 30px;
  border: 4px solid #36353A;
  margin: 0 auto;
  box-shadow: 5px 4px 25px #fff;
}

.button {
  position: relative;
  width: 40px;
  height: 40px;
  top: 440px;
  left: 65px;
  border-radius: 50%;
  background-color: #0A0A0A;
  border: 2px solid #000;
  border-left-color: #36353A;
  border-right-color: #36353A;
  transform: rotate(-43deg);
    z-index: 999;
}

.microphone {
  width: 45px;
  height: 3px;
  position: relative;
  top: 20px;
  left: 108px;
  background-color: #0A0A0A;
  border: 1px solid #36353A;
  border-top-color: #0A0A0A;
  border-radius: 10px;
}

.set {
  width: 240px;
  height: 380px;
  background: #6CE6F6; 
  background: -webkit-linear-gradient(left top, #6CE6F6, #fff);
  background: -o-linear-gradient(bottom right, #6CE6F6, #fff); 
  background: -moz-linear-gradient(bottom right, #6CE6F6, #fff);
  background: linear-gradient(to bottom right, #6CE6F6, #fff); 
  position: absolute;
  top: 50px;
  margin-left: 10px;
}

.set::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 250px;
  top: 130px;
  background-color: #5AA60E;
  box-shadow: 0 -5px 20px #427676;
}

.pokebola {
  width: 80px;
  height: 80px;
  background: linear-gradient(#F00001, #F00001, #F00001, #fff, #fff, #fff);
  border-radius: 50%;
  position: relative;
  top: 290px;
  left: 85px;
  z-index: 999999;
  box-shadow: inset -5px -2px 10px;
  cursor: pointer;
}

.pokebola::after {
  content: "";
  position: absolute;
  width: 82px;
  height: 10px;
  background-color: #000;
  top: 35px;
  left: -1px;
}

.pokebola::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #000;
  top: 27px;
  left: 28px;
  z-index: 999;
}

.pokemon {
  position: relative;
  widht: 80px;
  height: 200px;
  z-index: 999;
}

.body {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFE1F0;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #794C51;
}

.body::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-top-color: #FFE1F0;
  border-left-color: #FFE1F0;
  left: 110px;
  top: 10px;
}

.body::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-right-color: #FFE1F0;
  left: 115px;
  top: 10px;
}

.pokebola:hover {
  -webkit-animation: move 1s;
  -moz-animation: move 1s;
  -o-animation: move 1s;
  animation: move 1s;
}

.eye-right {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #A42D29;
  margin-top: -25px;
  margin-left: 60px;
}

.eye-right::after{
  content: "";
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 41px;
  left: 135px;
}

.eye-right::before{
  content: "";
  position: absolute;
  width:10px;
  height: 10px;
  background-color: #fff;
  z-index: 99;
  border-radius: 50%;
  left: 134px;
  top: 38px;
}

.eye-left {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #A42D29;
  margin-top: 35px;
  margin-left: 15px;
}

.eye-left::after{
  content: "";
  position: absolute;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  top: 41px;
  left: 90px;
}

.eye-left::before{
  content: "";
  position: absolute;
  width:10px;
  height: 10px;
  background-color: #fff;
  z-index: 99;
  border-radius: 50%;
  left: 90px;
  top: 38px;
}

.mouth {
  width: 15px;
  height: 12px;
  background-color: #952720;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 5px auto;
}

.mouth::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 9px;
  background-color: #C75958;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 4px;
  margin-top: 2px;
}

.hair {
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  margin-top: -120px;
  margin-left: 110px;
}

.hair::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  left: 130px;
  transform: rotate(40deg);
}

.hair::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-color: #FFE1F0;
  border-radius: 50%;
  border: 1px solid #794C51;
  border-bottom: none;
  left: 90px;
  transform: rotate(-40deg);
}

.foot-left{
  margin-top: 80px;
  height: 18px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(-10deg);
  z-index: 99;
  margin-left: 84px;
}

.foot-right{
  margin-top: -17px;
  height: 18px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(13deg);
  z-index: 99;
  margin-left: 122px;
}

.arm-left{
  height: 14px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(45deg);
  margin-top: -60px;
  margin-left: 50px;
}

.arm-right{
  height: 14px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFE1F0;
  transform: rotate(-45deg);
  margin-top: -10px;
  margin-left: 147px;
}

.ground {
  width: 50px;
  height: 150px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  margin-top: 120px;
  margin-left: 130px;
  z-index: 1;
  transform: rotate(75deg);
  border-radius: 50%;
}

@-webkit-keyframes move {
    from {
      top: 280px;
      transform: rotate(0deg);
  }
    to {
      top: 120px;
      transform: rotate(360deg);
  }
} 
 
@keyframes move {
    from {
      top: 280px;
      transform: rotate(0deg);
  }
    to {
      top: 120px;
      transform: rotate(360deg);
  }
}
